<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="fas fa-hospital me-2"></i>
                Medical Management System
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="fas fa-home me-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/patients}">
                            <i class="fas fa-user-injured me-1"></i> Patients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/doctors}">
                            <i class="fas fa-user-md me-1"></i> Doctors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pharmacists}">
                            <i class="fas fa-user-nurse me-1"></i> Pharmacists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/drugs}">
                            <i class="fas fa-pills me-1"></i> Drugs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/drug-sales}">
                            <i class="fas fa-shopping-cart me-1"></i> Drug Sales
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html> 